body {
    background-color: #F5F5DC;
    background-image: url("https://images.pexels.com/photos/61143/pexels-photo-61143.jpeg?auto=compress&cs=tinysrgb&w=1600");
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgba(0, 128, 128, 0.8);
    padding: 15px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    background-color: rgba(0, 128, 128, 0.8);
    padding: 10px;
    text-align: center;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

h1 {
    text-align: center;
    color: #333;
    font-weight: 600;
}

p {
    text-align: center;
    font-size: larger;
    color: #333;
    font-weight: 400;
}

#model-description {
    text-align: center;
    font-size: larger;
    color: #333;
    font-weight: 400;
    margin-top: 20px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #008080;
    color: #fff;
    border-radius: 20px;
    font-size: larger;
    font-weight: 600;
    text-shadow: 2px 2px #000;
    box-shadow: 2px 2px #000;
}
